name: release

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    name: "release hpi"
    steps:
      - name: Build
        uses: offa/maven-action@c667d622234c5df724ba5bdfd4130f8b1c293f2d
        with:
          java-version: 17
          pmd: false
      - name: Checksum
        run: |
          cd target/
          for f in maintenance-mode-*.hpi; do sha256sum "$f" | tee "$f.sha256"; done
      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        if: github.ref_type == 'tag'
        with:
          files: |
            target/maintenance-mode-*.hpi
            target/maintenance-mode-*.hpi.sha256
